body{
font-family: Merriweather, serif;
font-size: 0.875em;
margin: 0;
}

h1, h2 {
font: bold large Bahnschrift, monospace;
font-size: 2.5em;
}

h3 {
	font-size: 1.7em;
	margin: 0;
	padding: .2em;
	padding-left: 0.9em;
}

p { 
margin: 0 0 1em;
padding: 0.2em;
}

.main {
background-color: white;
font-style: italic;
position: relative;
text-align: center;
width:100%;
margin-bottom: 3em;
}
/*i{text-decoration: }*/
.main p { color: teal; text-shadow: .001em .001em .1em #436A75;}
.main h1{ font-family: "Roboto Mono"; font-size: 2.5em; color: teal;}

#content{
	position: relative;
	max-width: 1020px;
	min-width: 900px;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#menu { 
	background-color: #308EB0; 
	color: white; 
	line-height: 25px;
	
	position: absolute;
	right: 2em;
	width: 23em;
	padding: 0.5em;
	margin: 1em 0 1em 2em;
	}
	
#menu h2 {
	letter-spacing: .1em;
	padding: 0;
	margin: 0.3em 5% 0em; 
}

#menu ul {
	list-style-type: none;
	padding:0;
	margin: 0.3em 5% 0.3em; 
}

span.down {
	font-size: smaller; 
	color: #D3E9EB;
	}

footer{
	font-size: x-small;
	padding-top: 1em;
	clear: both;
	}
	
#projects {
	width: 60%;
	float: right;
	margin-right: 27em;
}

#projects p::first-letter {
	padding-left: 1em;
}

#menu a:link {
	color: white;
	font-family: inherit;
	text-decoration: none;
}

#menu a:visited {
	color: white;
	font-family: inherit;
	text-decoration: none;
}

#menu a:hover {
	color: white;
	font-family: inherit;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}

#upmenu ul{
	list-style:none;
   padding: 0;
   margin: 0 auto; 	
   width: 31em;
}
























